@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

html {
  scroll-behavior: smooth;
}

.searchFields {
  visibility: hidden;
  height: 0;
}

.vehicles_list img {
  width: 100% !important;
  height: auto !important;
  object-fit: cover;
}

.vehicles_list h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a202c;
}

.vehicles_list p {
  font-size: 1.25rem;
  color: #718096;
}

.searchFields {
  visibility: hidden;
  height: 0;
}

.vehicles_list {
  display: flex;
  max-width: 1360px;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.vehicles_list_img_cell {
  width: 360px;
  height: 240px;
  object-fit: cover;
  order: 0;
}

[class^="vehicles_list_row"] {
  width: min-content;
  display: flex;
  flex-direction: column;
}

.vehicles_list_title_cell {
  display: flex;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 0.6rem;
  text-wrap: pretty;
  align-items: flex-end;
  order: 1;
}

.vehicles_list_data_cell.dataCell {
  font-size: 0.8rem;
  padding-top: 0.5rem;
  order: 2;
  position: relative;

}

.vehicles_list_price_cell {
  font-size: 0.8rem;
  font-weight: 800;
  order: 3;
}

.dataCell__finance {
  position: absolute;
  bottom: -36px;
}

span.-transmission, span.-fuel, span.-comma, span.dataCell__equipment {
  display: none;
  visibility: hidden;
  margin-right: 3px
}

span.-mileage {
  display: block;
}

br {
  display: none;
}

strong {
  font-weight: 400;
}

/* CARS DETAILS PAGE */

.DetailsMain {
  padding: 2rem;
}

.DetailWrapper {
  display: flex;
  flex-direction: column-reverse;
}

div#vehicleImagesContentDiv {
  padding: 2rem;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

[class^="vehicleImageDiv"] {
  flex: 1 0 30%;
  scroll-snap-align: center;
}

table {
  width: 100%;
  border-collapse: separate; /* Separate the borders of cells */
  border-spacing: 0 10px; /* Adds space between rows */
  margin: 20px 0;
  font-size: 0.9em;
  font-family: sans-serif;
}

th, td {
  padding: 12px 15px;
  text-align: center; /* Center align text */
  border-bottom: 1px solid #dddddd;
}

th {
  background-color: transparent; /* No background color */
  color: #333; /* Dark text color for contrast */
  text-transform: uppercase;
  position: relative; /* Needed for positioning */
  top: -10px; /* Shift upwards to appear outside */
}

.make_and_model {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}

tr:nth-of-type(even) {
  background-color: #ffffff;
}

tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.make_and_model {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; /* Center text horizontally */
  vertical-align: middle; /* Center text vertically */
}

